KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/utility.o \
$(ARCHDIR)/init.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/default_isr.o \
$(ARCHDIR)/default_irq.o \
$(ARCHDIR)/isr_wrapper.o \
$(ARCHDIR)/irq_wrapper.o
